## Exercise 1

In [2]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [5]:
# task 1.1
ages.sort()
min_age = min(ages)
max_age = max(ages)

In [8]:
# task 1.2
ages.append(min_age)
ages.append(max_age)

In [13]:
# task 1.3
if len(ages) % 2 == 0:
    median = (ages[(len(ages) // 2) - 1] + ages[len(ages) // 2]) / 2
else:
    median = ages[(len(ages) // 2) - 1]
print(median)

24.0

In [14]:
# task 1.4

# method 1
total = 0
for i in ages:
    total += i
average = total / len(ages)
print(average)

# method 2
avg = sum(ages) / len(ages)
print(avg)

22.75
22.75

In [15]:
# task 1.5
min_age = min(ages)
max_age = max(ages)
print(f'range: {max_age - min_age}')

range: 7

In [17]:
# task 1.6
avg = sum(ages) / len(ages)
min_age = min(ages)
max_age = max(ages)
if abs(min_age - avg) > abs(max_age - avg):
    print('min age has the greatest distance from the average')
elif abs(min_age - avg) < abs(max_age - avg):
    print('max age has the greatest distance from the average')
else:
    print('equal')

min age has the greatest distance from the average

## Exercise 2

In [18]:
# task 2.1
mt_tuple = tuple()

In [35]:
# task 2.2
sis_bros = ('mamad', 'sara', 'hani', 'mohsen')

In [36]:
# task 2.3
# convert sis_bros to the list cause tuple is immutable and add myself and after the changes, sis_bros cast from list to tuple
me = 'hamed'
sis_bros = list(sis_bros)
sis_bros.append(me)
sis_bros = tuple(sis_bros)

In [38]:
# task 2.4
len(sis_bros) - 1 # mines 1 cause myself isn't counted

4

In [39]:
# task 2.5
dad = 'hossain'
mom = 'niloofar'
family_member = list(sis_bros)
family_member.append(dad)
family_member.append(mom)
family_member = tuple(family_member)

## Exercise 3

In [44]:
# task 3.1
student = {
    'first_name':'Mamad',
    'last_name':'Mamadi',
    'gender': 'male',
    'age': 32,
    'skills':['Python', 'git', 'django', 'redis', 'rest api'],
    'country':'Iran',
    'city':'Shiraz',
    'address': 'Eram Blvd, 4 alley'
}

In [45]:
# task 3.2
len(student)

8

In [49]:
# task 3.3
skills = student['skills']
if type(skills) == list:
    print('type is Ok')
    print(f'skills: {skills}')

type is Ok
skills: ['Python', 'git', 'django', 'redis', 'rest api']

In [50]:
# task 3.4
student['skills'].extend(['celery', 'rabbit mq'])

In [53]:
# task 3.5
list(student.keys())

['first_name',
 'last_name',
 'gender',
 'age',
 'skills',
 'country',
 'city',
 'address']

In [54]:
# task 3.6
list(student.values())

['Mamad',
 'Mamadi',
 'male',
 32,
 ['Python', 'git', 'django', 'redis', 'rest api', 'celery', 'rabbit mq'],
 'Iran',
 'Shiraz',
 'Eram Blvd, 4 alley']

In [56]:
# task 3.7
list(student.items())

[('first_name', 'Mamad'),
 ('last_name', 'Mamadi'),
 ('gender', 'male'),
 ('age', 32),
 ('skills',
  ['Python', 'git', 'django', 'redis', 'rest api', 'celery', 'rabbit mq']),
 ('country', 'Iran'),
 ('city', 'Shiraz'),
 ('address', 'Eram Blvd, 4 alley')]

In [57]:
# task 3.8
# remove address for student dict
del student['address']

In [59]:
# task 3.9
# remove student dict
del student

## Exercise 4

In [88]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

In [89]:
# task 4.1
len(it_companies)

7

In [90]:
# task 4.2
it_companies.add('Twitter')

In [91]:
# task 4.3
it_companies = it_companies.union({'Spotify', 'Tesla', 'Instagram'})

In [92]:
# task 4.4
it_companies.remove('Instagram')

In [94]:
# task 4.5
# discard -> if element already exist, remove from set and if even element does not exist, It does not give an error
it_companies.discard('Instagram')
# remove -> if element already exist, remove from set and if element does not exist, An error raise like below beacause 'Instagram' does not exist
it_companies.remove('Instagram')

KeyError: 'Instagram'

## Exercise 5

In [103]:
sentence = 'I am a teacher and I love to inspire and teach people.'
words = set(sentence.replace('.', '').split())
len(words)

10

## Exercise 6

In [107]:
def char_frequency(s):
    result = {}
    for c in s:
        if c == ' ':
            continue
        result[c.lower()] = result.get(c.lower(), 0) + 1
    return result

char_frequency('Filoger')

{'f': 1, 'i': 1, 'l': 1, 'o': 1, 'g': 1, 'e': 1, 'r': 1}

## Exercise 7

In [108]:
def print_odd_numbers(lst):
    new_lst = []
    for num in lst:
        if num % 2 == 1:
            new_lst.append(num)
    print(new_lst)

print_odd_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9])

[1, 3, 5, 7, 9]

## Exercise 8

In [114]:
employees = [{"name": "Sanaz", "age": 14}, {"name": "AmirHossein", "age": 18}, {"name": "Azam" , "age": 14}, {"name": "Zahra" , "age": 16}, {"name": "Shayan" , "age": 18}, {"name": "Zahra" , "age": 17}]

In [115]:
employees.sort(key=lambda a:(a['age'], a['name']))
employees

[{'name': 'Azam', 'age': 14},
 {'name': 'Sanaz', 'age': 14},
 {'name': 'Zahra', 'age': 16},
 {'name': 'Zahra', 'age': 17},
 {'name': 'AmirHossein', 'age': 18},
 {'name': 'Shayan', 'age': 18}]

## Exercise 9

In [28]:
def fibonachi(n):
    def n_fibo(n):
        if n == 1:
            return 0
        elif n == 2:
            return 1
        else:
            return n_fibo(n - 1) + n_fibo(n - 2)
    
    for i in range(1, n + 1):
        print(n_fibo(i), end=' ')

# for test
fibonachi(7)

0 1 1 2 3 5 8

## Exercise 10

In [9]:
# we should not use this variable name
dict = {'Python': 2, 'DIP': 7, 'DL': 8}
try:
    print(dict['CV'])
except KeyError as e:
    print(f'Key {e} does not exist in dictionary!')
except Exception as error:
    print(error)

Key 'CV' does not exist in dictionary!

## Exercise 11

In [14]:
code = '45145GT'
try:
    int(code)
except ValueError as e:
    # show the error message
    print(e)
except Exception as error:
    print(error)

invalid literal for int() with base 10: '45145GT'

## Exercise 12

In [17]:
import os

# check if file exist use a mode for file and write new data after latest line
if os.path.exists('Ex_01_Files.txt'):
    f = open('Ex_01_Files.txt', 'a') # because we don't lost existance data
    f.write('\n') # write a new line to make sure we are at the top of the line
else:
    f = open('Ex_01_Files.txt', 'w') # use w mode because if file does not exist, python create it

lst_data = [1, 7, 'test' , 'apple' , 'banana' , 'cherry' , 785, 19, 'Python' , 78.0, True, 7854.15]
for data in lst_data:
    f.write(str(data) + '\n') # write data and send cursor to new line for new data

# close the file
f.close()

## Exercise 13

In [29]:
import os

# check if file exist use a mode for file and write new data after latest line
if os.path.exists('Ex_01_Files.txt'):
    try:
        f = open('Ex_01_Files.txt', 'r')
    except FileNotFoundError as e: # this line for check is useless because when you check file is exist or not, you handle this error:D
        print(e)

numbers_lst = []
strings_lst = []
for line in f: # use f instead f.readlines to read file with generator attribute and use less memory
    line = line.strip()
    if line.isdigit():
        numbers_lst.append(int(line))
    else:
        try:
            line = float(line)
            numbers_lst.append(line)
        except ValueError:
            strings_lst.append(line)


print(f'numbers list: {numbers_lst}')
print(f'strings list: {strings_lst}')

numbers list: [1, 7, 785, 19, 78.0, 7854.15]
strings list: ['test', 'apple', 'banana', 'cherry', 'Python', 'True']