## Exercise 1

In [1]:
type('Filoger') # str or string pronunciation

str

In [2]:
type('19.0') # str or string pronunciation

str

In [3]:
type(18) # int or integer pronunciation

int

In [4]:
type(13.0) # float

float

In [5]:
type(True) # bool or boolean pronunciation

bool

## Exercise 2

In [6]:
int('Filoger') # error because str can not convert to int

ValueError: invalid literal for int() with base 10: 'Filoger'

In [7]:
int('19.0') # error because first must cast to float and then cast to int like int(float('19.0'))

ValueError: invalid literal for int() with base 10: '19.0'

In [8]:
int(18)

18

In [9]:
int(13.0)

13

In [10]:
int(True)

1

## Exercise 3

In [11]:
%%timeit
type('Filoger')

68.9 ns ± 11.7 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [12]:
%%timeit
type('19.0')

81.1 ns ± 9.91 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [13]:
%%timeit
type(18)

73 ns ± 16.1 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [14]:
%%timeit
type(13.0)

80.3 ns ± 10.4 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [15]:
%%timeit
type(True)

64 ns ± 1.85 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

## Exercise 4

In [4]:
from math import pi
r = float(input()) / 2 # use float casting because maybe user enter 1.9 or even 1, both number is handled
print('Circle area is {0:.3f}'.format(pi * (r ** 2)))

 18

Circle area is 254.469

## Exercise 5

In [5]:
width = float(input()) # use float casting because maybe user enter 1.9 or even 1, both number is handled
height = float(input()) # use float casting because maybe user enter 1.9 or even 1, both number is handled
length = float(input()) # use float casting because maybe user enter 1.9 or even 1, both number is handled
volume = width * height * length
area = 2 * ((width * length) + (width * height) + (height * length))
print('Volume of cuboid is {0:.2f} and Surface area of cuboid is {1:.3f}!'.format(volume, area))

 18
 4
 5

Volume of cuboid is 360.00 and Surface area of cuboid is 364.000!

## Exercise 6

In [3]:
number_1 = float(input()) # use float casting because maybe user enter 1.9 or even 1, both number is handled
number_2 = float(input()) # use float casting because maybe user enter 1.9 or even 1, both number is handled
su = number_1 + number_2
di = number_1 / number_2
sub = number_1 - number_2
mul = number_1 * number_2
print('sum = {0}, division={1}, subtraction={2}, multiplication={3}'.format(int(su), int(di), int(sub), int(mul)))

 8
 4

sum = 12, division=2, subtraction=4, multiplication=32

## Exercise 7

In [6]:
string_1 = input()
string_2 = input()
string_3 = string_1 + ' ' + string_2
print('result is "{0}"'.format(string_3))

 string_1
 string_2

result is "string_1 string_2"

## Exercise 8

In [4]:
farenheit = float(input()) # use float casting because maybe user enter 1.9 or even 1, both number is handled
celsius = (farenheit - 32) * (5 / 9)
print('{0} degree Fahrenheit is equal to {1:.1f} degree Celsius.'.format(int(farenheit), celsius))

 86

86 degree Fahrenheit is equal to 30.0 degree Celsius.

## Exercise 9

In [21]:
lst = [8, 120, 83, 89, 24, 97.5, 201]
print(max(lst))

201

## Exercise 10

In [9]:
number = int(input())
result = 1
for i in range(1, number + 1):
    result *= i
print('Factorial of {0} is {1}'.format(number, result))

 9

Factorial of 9 is 362880

## Exercise 11

In [23]:
import random
answer = random.randint(1, 100)
user_guess = int(input())

if user_guess > answer:
    print('Wrong, Guess the lower number!')
elif user_guess < answer:
    print('Wrong, Guess the higher number!')
elif user_guess == answer:
    print('Correct, good job')

 10

Wrong, Guess the higher number!

## Exercise 12

In [10]:
for i in range(0, 11):
    print('{0} x {1} = {2}'.format(i, i, i * i))

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

## Exercise 13

In [11]:
number = int(input())
total = 0
for i in range(0, number + 1):
    total += i
print('The sum of all numbers is {0}.'.format(total))

 100

The sum of all numbers is 5050.

## Exercise 14

In [26]:
lst = ['banana', 'orange', 'mango', 'lemon']

# method 1 with loop
new_lst = []
for i in range(len(lst) - 1, -1, -1):
    new_lst.append(lst[i])
print(new_lst)

# method 2 without loop
print(lst[::-1])

['lemon', 'mango', 'orange', 'banana']
['lemon', 'mango', 'orange', 'banana']